*.cmake
o2.xcodeproj/
o2.build/
o2litepy/.idea
CMakeFiles/
CMakeScripts/
Debug/
CMakeCache.txt
build/
Release/
bugs/osctest.eml
.DS_Store
/test/__pycache__/
/test/port_count.dat
/.vs
/o2.sln
*.ipch
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.cpp~
*.h~
*.c~
*.sh~
*.cpp#
*.h#
*.c#
*.pyc
*.pd_linux
*.pd_linux32
*.pd_darwin
*.pd_nt
*.o
*.dylib

/esp-install.bat

/RelWithDebInfo/

/appfollow
/applead
/arraytest
/bridgeapi
/bundletest
/clockmirror
/clockref
/coercetest
/dispatchtest
/dropclient
/dropserver
/hubclient
/hubserver
/infotest1
/infotest2
/libo2_static.a
/libo2lite_static.a
/longtest
/mqttclient
/mqttserver
/nonblockrecv
/nonblocksend
/o2block
/o2client
/o2litehost
/o2litemsg
/o2liteserv
/o2server
/o2unblock
/o2utclient
/o2utserver
/oscanytest
/oscbndlrecv
/oscbndlsend
/oscrecvtest
/oscsendtest
/patterntest
/proprecv
/propsend
/proptest
/rawtcpserver
/shmemserv
/statusclient
/statusserver
/stuniptest
/tappub
/tapsub
/taptest
/tcpclient
/tcpserver
/typestest
/unipub
/unisub
/websockhost
/shmembench
/memtest

/demo/buttons/srp.log

/python/

/Makefile

/pdo2.zip

.idea

/ZERO_CHECK.proj

/ZERO_CHECK.proj.filters

/pd/o2pd.xcodeproj/

/pd/pd-patches/

/o2host/o2host.xcodeproj/

/o2host/src/o2host-v0.cpp
