*.cmake
o2.xcodeproj/
o2.build/
CMakeFiles/
CMakeScripts/
Debug/
CMakeCache.txt
build/
Release/
bugs/osctest.eml
.DS_Store
/test/__pycache__/
/test/port_count.dat
/.vs
/o2.sln
*.ipch
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.cpp~
*.h~
